@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v1/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_KU7NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v1/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_907NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v1/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_qU7NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v1/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_m07NSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v1/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_d0nNSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v1/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_TknNSg.ttf) format('truetype');
}
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/plusjakartasans/v1/LDIbaomQNQcsA88c7O9yZ4KMCoOg4IA6-91aHEjcWuA_KUnNSg.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: #1A5AC1;
  font-family: 'Plus Jakarta Sans', sans-serif;
  transition: background-color 0.5s ease-in-out;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p,
body span {
  margin: 0;
  padding: 0;
}
body #popup {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #191919;
  padding: 1rem 1rem;
  border-radius: 10px;
  transition: top 0.5s ease-in-out;
}
body #popup p {
  display: inline-block;
  max-width: 300px;
  color: #f5f5f5;
  text-align: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10%;
}
.navbar .navbar__logo svg {
  width: 50px;
  height: 50px;
  fill: url(#grad1);
}
.navbar .navbar__search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar .navbar__search input {
  width: 350px;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: 2px #5f80b5 solid;
  box-sizing: border-box;
}
.navbar .navbar__search svg {
  position: absolute;
  right: 15px;
  top: 8px;
  fill: #5f80b5;
  cursor: pointer;
}
.navbar .navbar__search .search__results {
  position: absolute;
  top: 40px;
  overflow: hidden;
  height: 0;
  font-size: 1.3rem;
  color: #282828;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 0 1rem;
  width: 318px;
  cursor: pointer;
}
.navbar .navbar__search .search__results .results__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 100%;
}
.navbar .navbar__search .search__results .results__wrapper #searchResultIcon {
  width: 15%;
}
.navbar .navbar__search .search__results .results__wrapper #searchResultDescription {
  padding: 0 1rem;
  text-transform: capitalize;
}
.navbar .navbar__search .search__results .results__wrapper #searchResultTemperature {
  padding-left: 2rem;
}
.navbar .navbar__search .search__results #loaderIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: loading 3s linear infinite;
}
.navbar .navbar__search .search__results:hover {
  background-color: #e0e0e0;
}
.navbar .navbar__search .nm:hover {
  background-color: #1A5AC1;
  color: #f5f5f5;
}
.navbar .navbar__r {
  display: flex;
  align-items: center;
}
.navbar .navbar__theme {
  position: relative;
  width: 50px;
  height: 25px;
  margin-left: 50px;
  border-radius: 25px;
  background-color: #f5f5f5;
  cursor: pointer;
}
.navbar .navbar__theme .navbar__switch {
  position: absolute;
  left: 5px;
  top: 12%;
  transform: translateX(-12%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1A5AC1;
  transition: all 0.5s ease-in-out;
}
.navbar .navbar__theme .active {
  left: 30px;
}
.main {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
  padding: 3.5rem 0;
}
.main .main__random {
  color: #f5f5f5;
}
.main .main__random h1 {
  font-weight: normal;
  font-size: 3rem;
}
.main .main__random h5 {
  font-weight: normal;
  font-size: 1.3rem;
  color: #e4e4e4;
  margin: 0.5rem 0;
  margin-left: 0.3rem;
}
.main .main__random .main__weather-info {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.main .main__random .main__weather-info .weather__temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main__random .main__weather-info .weather__temperature img {
  object-fit: contain;
  width: 200px;
  margin-right: 3rem;
}
.main .main__random .main__weather-info .weather__temperature .weather__temperature-info .weather__temperature-wrapper {
  display: inline-flex;
  align-items: flex-end;
}
.main .main__random .main__weather-info .weather__temperature .weather__temperature-info .weather__temperature-wrapper span {
  font-size: 3rem;
  margin-bottom: 0.7rem;
}
.main .main__random .main__weather-info .weather__temperature .weather__temperature-info h1 {
  font-size: 7rem;
}
.main .main__random .main__weather-info .weather__temperature .weather__temperature-info h5 {
  margin: 0;
  margin-left: 0.3rem;
  text-transform: capitalize;
}
.main .main__random .main__weather-info .weather__divider {
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
  height: 180px;
}
.main .main__random .main__weather-info .weather__info {
  display: grid;
  grid-template-columns: auto auto auto;
}
.main .main__random .main__weather-info .weather__info .weather__info-wrapper {
  text-align: center;
  padding: 1rem 3rem;
}
.main .main__random .main__weather-info .weather__info .weather__info-wrapper h5 {
  margin: 0;
  color: #f5f5f5;
  margin: 0.3rem 0;
  font-weight: normal;
}
.main .main__random .main__weather-info .weather__info .weather__info-wrapper h6 {
  color: #b1b1b1;
  font-weight: normal;
  font-size: 1rem;
}
.week__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5vw;
}
.week__section .week__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1A45A0;
  color: #f5f5f5;
  font-size: 1rem;
  font-weight: normal;
  padding: 15px 45px;
  border-radius: 10px;
  transition: background-color 0.5s ease-in-out;
  min-height: 247.34px;
}
.week__section .week__wrapper .week__icon {
  width: 100%;
  padding: 35px 0;
}
.week__section .nm {
  background-color: #1f1f1f;
}
@keyframes show {
  0% {
    height: 0;
  }
  100% {
    height: 47.69px;
  }
}
@keyframes hide {
  0% {
    height: 47.69px;
  }
  100% {
    height: 0;
  }
}
@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes showPopup {
  0% {
    top: -75px;
  }
  100% {
    top: 0px;
  }
}
@keyframes hidePopup {
  0% {
    top: 0px;
  }
  100% {
    top: -75px;
  }
}
